{% extends 'doctors/base.html' %}
{% load static %}

{% block title %} View Appointments {% endblock title %}
{% block page_title %} View Appointments {% endblock page_title %}

{% block content %}
<main>
  <section class="recent">
    <div class="table-div">
      <div class="col-md-7 col-lg-8 col-xl-9" style="width:80%;">
        <div class="filter-section">
          <form method="get" class="d-md-flex justify-content-between align-items-center text-dark">
            <div class="form-group mr-3">
                <label for="filter_status" class="mr-2">Status:</label>
                <select name="filter_status" id="filter_status" class="form-control form-select">
                  <option value="" {% if not filter_status or filter_status == 'All' %}selected{% endif %}>All</option>
                  <option value="Accepted" {% if filter_status == "Accepted" %}selected{% endif %}>Accepted</option>
                  <option value="Waited" {% if filter_status == "Waited" %}selected{% endif %}>Waited</option>
                  <option value="Cancelled" {% if filter_status == "Cancelled" %}selected{% endif %}>Cancelled</option>                  
                </select>
            </div>
            <div class="form-group mr-3">
                <label for="filter_date" class="mr-2">Date:</label>
                <input type="date" name="filter_date" id="filter_date" class="form-control" value="{{ filter_date }}">
            </div>
            <div class="form-group mr-3">
                <label for="filter_patient_name" class="mr-2">Patient Name:</label>
                <input type="text" name="filter_patient_name" id="filter_patient_name" class="form-control" value="{% if filter_patient_name is not None %}{{ filter_patient_name }}{% endif %}">
              </div>
            <button type="submit" class="btn btn-primary">Search</button>
          </form>
        </div>
      
        <div class="appointments">
          <!-- Appointment List -->
          {% for appointment in appointments %}
            <div class="appointment-list" style="width:80%;">
              <div class="profile-info-widget">
                <a href="patient-profile.html" class="booking-doc-img">
                  <img src="{{appointment.patient.user.profile_avatar.url}}" alt="User Image">
                </a>
                <div class="profile-det-info">
                  <h3 style="font-size:19px;"><a href="#" style="text-decoration:none;">Patient name &nbsp;:&nbsp;{{ appointment.patient.user.first_name }}</a></h3>
                  <div class="patient-details">
                    <h4 style="font-size:16px;"><i class="bi bi-clock-fill"></i>&nbsp;&nbsp;  {{ appointment.start_date }}&nbsp;</h4>
                    <h4 style="font-size:16px;"><i class="bi bi-hourglass-bottom"></i>&nbsp;&nbsp; {{ appointment.time.time }}&nbsp;</h4>

                    {% if appointment.status.status == "Accepted" %}
                        <h4 class="badge badge-pill bg-success-light" style="height:22px;font-size:14px;">
                          {{appointment.status.status}}
                        </h4>
                    {% elif appointment.status.status == "Waited" %}
                        <h4 class="badge badge-pill bg-warning text-white" style="height:22px;font-size:14px;">
                          {{appointment.status.status}}
                        </h4>
                    {% elif appointment.status.status == "Cancelled" %}
                        <h4 class="badge badge-pill bg-danger text-white" style="height:22px;font-size:14px;">
                          {{appointment.status.status}}
                        </h4>
                    {% else %}
                        <h4 class="badge badge-pill bg-secondary" style="height:22px;font-size:14px;">
                          {{appointment.status.status}}
                        </h4>
                    {% endif %}

                  </div>
                </div>
              </div>
              <div class="appointment-action">
                <a href="#" class="btn btn-sm bg-info-light" data-bs-toggle="modal" data-bs-target="#viewModal{{ appointment.id }}">
                  <i class="bi bi-eye-fill"></i> View
                </a>
              </div>
              <!-- Appointment Details Modal -->
              <div class="modal fade custom-modal" id="viewModal{{ appointment.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Appointment Details</h5>
                      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <ul class="info-details">
                        <li>
                          <div class="details-header">
                            <div class="row">
                              <div class="col-md-6">
                                <span class="title">Start Date</span>
                                <span class="text">&nbsp;&nbsp;  {{ appointment.start_date }}&nbsp;,&nbsp;{{ appointment.time.time }}</span>
                              </div>
                              
                              <div class="col-md-6">
                                <form method="post">
                                  {% csrf_token %}
                                  <div class="text-right">
                                    <select name="status" id="" class="form-select">
                                      <option value="Accepted" {% if appointment.status.status == "Accepted" %}selected{% endif %} >Accepted</option>
                                      <option value="Waited" {% if appointment.status.status == "Waited" %}selected{% endif %}>Waited</option>
                                      <option value="Cancelled" {% if appointment.status.status == "Cancelled" %}selected{% endif %}>Cancelled</option>
                                    </select>
                                    <div class="mt-4">
                                      <input type="hidden" value='{{ appointment.id }}' name="app">
                                      <button type="submit" class="btn btn-primary primary-color-background w-100">Save</button>
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <span class="title">Confirm Date:</span>
                          <span class="text">{{ appointment.start_date }}</span>
                        </li>
                        <li>
                          <span class="title">Summary : </span>
                          <span class="text">{{ appointment.summary }}</span>
                        </li>
                        <li>
                          <span class="title">Description : </span>
                          <span class="text">{{ appointment.description }}</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /Appointment Details Modal -->
            </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}