{% extends 'patients/base.html' %} {% load static %} {% block title %}
BookAppointment {% endblock title %} {% block page_title %} Book Appointment
{%endblock page_title %} {% block content %}

<main>
  <h2 class="dash-title">Doctors Available</h2>
  <section class="recent">
    <div class="table-div">
      <div class="row justify-content-left">
        {% for doctor in doctors %}

        <div class="card mb-3 shadow col-12 col-md-10" style="margin-left: 2%">
          <div class="row g-0">
            <div
              class="col-md-4 text-center p-2"
              style="max-height: 90%; max-width: 40%"
            >
              <img
                src="{{ doctor.user.profile_avatar.url }}"
                class="rounded"
                style="
                  height: 70%;
                  width: 59%;
                  margin-top: 7%;
                  border: 2px solid #73ad21;
                  border-radius: 200px;
                "
                alt="..."
              />
            </div>
            <input
              type="hidden"
              id="custId"
              name="doctorid"
              value="{{ doctor.user.username }}"
            />
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title mt-2">
                  Dr. {{ doctor.user.first_name}} {{ doctor.user.last_name }}
                </h5>
                <table class="table">
                  <tbody>
                    <tr>
                      <th scope="col"><i class="bi bi-book-fill"></i> Email</th>
                      <td scope="col">{{ doctor.user.email }}</td>
                    </tr>
                    <tr>
                      <th scope="col">
                        <i class="bi bi-layers-fill"></i>username
                      </th>
                      <td scope="col">{{ doctor.user.username }}</td>
                    </tr>
                    <tr>
                      <th scope="col">
                        <i class="bi bi-diagram-2"></i> Address
                      </th>
                      <td scope="col">
                        {{ doctor.user.id_address.address_line }} '{{
                        doctor.user.id_address.region }}' '{{
                        doctor.user.id_address.city }}' '{{
                        doctor.user.id_address.code_postal }}'
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="container-new-example">
                <a href="/patient_confirm_book/{{ doctor.user.username }}/"
                  ><button type="submit" class="glow-on-hover" value="Submit">
                    Book appointment
                  </button></a
                >
              </div>
            </div>
            <div
              class="text-left mb-1"
              style="float: left; margin-left: 7%; margin-top: -5%"
            >
              <p class="card-text">
                <small class="text-muted"
                  ><i
                    class="bi bi-envelope-fill"
                    style="text-decoration: none"
                  ></i>
                  {{ doctor.user.email }}</small
                >
              </p>
            </div>
          </div>
        </div>

        {% endfor %}
      </div>
    </div>
  </section>
  <style>
    /*Style inputs, select elements and textareas */
    input[type="text"],
    select,
    textarea {
      width: 95%;
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      resize: vertical;
    }

    /* Style the label to display next to the inputs */
    label {
      padding: 12px 12px 12px 12px;
      display: inline-block;
    }

    /* Style the submit button */
    input[type="submit"] {
      background-color: #04aa6d;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 40px;
    }

    /* Style the container */
    .container-new-example {
      border-radius: 5px;
      background-color: white;
      margin-left: 25%;
      margin-bottom: 10%;
    }

    /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
      .col-25,
      .col-75,
      input[type="submit"] {
        width: 100%;
        margin-top: 0;
      }
    }
    /*-------Button--Effects----*/

    .glow-on-hover {
      width: 140px;
      height: 50px;
      border: none;
      outline: none;
      color: #fff;
      background: #111;
      cursor: pointer;
      position: relative;
      z-index: 0;
      border-radius: 10px;
      margin-top: 0%;
      margin-left: -7%;
    }

    .glow-on-hover:before {
      content: "";
      background: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
      );
      position: absolute;
      top: -2px;
      left: -2px;
      background-size: 400%;
      z-index: -1;
      filter: blur(5px);
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      animation: glowing 20s linear infinite;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      border-radius: 10px;
    }

    .glow-on-hover:active {
      color: #000;
    }

    .glow-on-hover:active:after {
      background: transparent;
    }

    .glow-on-hover:hover:before {
      opacity: 1;
    }

    .glow-on-hover:after {
      z-index: -1;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: #111;
      left: 0;
      top: 0;
      border-radius: 10px;
    }

    @keyframes glowing {
      0% {
        background-position: 0 0;
      }
      50% {
        background-position: 400% 0;
      }
      100% {
        background-position: 0 0;
      }
    }
    /*Style Alert BOx */
    .alert {
      font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
        "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
      min-height: 18px;
      padding: 12px 15px 15px;
      margin: 5px auto;
      border-radius: 4px;
      border-left: 4px solid;
      opacity: 1;
      transition: opacity 0.6s;
      max-width: 40%;
    }
    .warning {
      background: rgba(244, 215, 201, 0.37);
      color: #d93025;
      border-color: #d93025;
    }
    .info {
      background: rgba(186, 208, 228, 0.37);
      color: #00539f;
      border-color: #00539f;
    }
    .success {
      background: #edf7ee;
      color: #4caf50;
      border-color: #4caf50;
    }
    .tip {
      background: #fff5e6;
      color: #ff9800;
      border-color: #ff9800;
    }
    .alert-close {
      padding-left: 15px;
      font-weight: bold;
      float: right;
      font-size: 20px;
      line-height: 18px;
      cursor: pointer;
      transition: 0.3s all;
    }
    .alert-close:hover {
      color: #000;
    }
    .alert code,
    .alert .mark {
      background: #fff;
      opacity: 0.9;
      padding: 3px 5px;
      border-radius: 4px;
      font-family: Consolas, Monaco, "Andale Mono", monospace;
      font-size: 89%;
      font-weight: normal;
    }
  </style>
</main>

{% endblock %}
