{% extends 'patients/base.html' %}
{% load static %}

{% block title %} Profile {% endblock title %}
{% block page_title %} Patient Profile {% endblock page_title %}

{% block content %}
<main>
    <section class="recent">
        <div class="table-div">
            <div class="table-card">
                <div class="tab-content pt-0">
                <div id="pat_appointments" class="tab-pane fade show active">
                    <div class="card card-table mb-0">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-center mb-0">
                                    <thead>
                                        <tr>
                                            <th>Doctor</th>
                                            <th>Appt Date</th>
                                            <th>Start Time</th>
                                            <th>Suammry</th>
                                            <th>Description</th>
                                            <th>status</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for appointment in appointments %}
                                        <tr>
                                            <td>
                                                <h2 class="table-avatar">
                                                    <a href="doctor-profile.html" class="avatar avatar-sm mr-2">
                                                        <img class="avatar-img rounded-circle" src="{{appointment.doctor.user.profile_avatar.url}}" alt="User Image">
                                                    </a>
                                                    <b><a href="#" style="text-decoration:none;font:100px;">&nbsp;&nbsp;Dr. {{ appointment.doctor.user.first_name }} <span>&nbsp;&nbsp;<!--Dental--></span></a></b>
                                                </h2>
                                            </td>
                                            <td>{{ appointment.start_date }} <span class="d-block text-info" style="font-size:16px;"></span></td>
                                            <td><span class="d-block text-info" style="font-size:16px;">{{ appointment.time.time }}</span></td>
                                            <td><span class="d-block text-info" style="font-size:16px;color:red;">{{ appointment.summary }}</span></td>
                                            <td>{{ appointment.description }}</td>
                                            <td><span class="badge badge-pill bg-success-light" style="height:22px;font-size:14px;">{{appointment.status.status}}</span></td>
                                            <td class="text-right">
                                                <!--<div class="table-action">
                                                    <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                                                        <i class="bi bi-printer-fill"></i> Print
                                                    </a>
                                                    <a href="javascript:void(0);" class="btn btn-sm bg-info-light">
                                                        <i class="bi bi-eye-fill"></i> View
                                                    </a>-->
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}