{% extends 'patients/base.html' %} 
{% load static %} {% block title %} Dashboard {% endblock title %} 
{% block page_title %} Patient Dashboard {% endblock page_title %} 
{% block content %}
<main>
  <h2 class="dash-title">Appointment Booking confirm</h2>
  <section class="recent">
    <div class="table-div">
      <div class="table-card">
        <div class="container mt-5">
          <div class="row">
            <div
              class="col-md-10 offset-md-0.5 border p-4 shadow bg-dark"
              style="margin-top: -4.5%; width: 100%; border-radius: 20px"
            >
              <div class="col-12" style="color: black">
                <h3 style="font-color: green">
                  Doctor Name : {{ doctor.user.username }}
                </h3>
              </div>
              <form
                method="POST"
                class="needs-validation"
                nonalidate=""
                autocomplete="off"
                enctype="multipart/form-data"
              >
                {% csrf_token %}
                <div class="row g-3">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="First Name"
                    name="fname"
                    id="ft-name"
                    value="{{ Request.user.first_name }}"
                    style="display: none"
                  />
                  <input
                    type="text"
                    class="form-control"
                    placeholder="First Name"
                    name="lname"
                    id="lt-name"
                    value="{{ Request.user.last_name }}"
                    style="display: none"
                  />
                  <input
                    type="text"
                    class="form-control"
                    placeholder="First Name"
                    name="doctorname"
                    id="ltdfd-name"
                    value="{{ doctor.user.username }}"
                    style="display: none"
                  />
                  <div class="col-md-6">
                    <label for="first-name" style="color: #e6f5f1"
                      >First Name </label
                    ><br />
                    <input
                      type="text"
                      class="form-control"
                      name="foname"
                      id="first-name"
                      value="{{ request.user.first_name }}"
                      disabled
                    />
                  </div>
                  <div class="col-md-6">
                    <label for="last-name" style="color: #e6f5f1"
                      >Last Name </label
                    ><br />
                    <input
                      type="text"
                      class="form-control"
                      id="last-name"
                      name="loname"
                      value="{{ request.user.last_name }}"
                      disabled
                    />
                  </div>
                  <div class="col-md-6">
                    <label for="dates" style="color: #e6f5f1"
                      >Select Date </label
                    ><br />
                    <input
                      type="date"
                      class="form-control"
                      id="dates"
                      name="date"
                      placeholder="Enter Date"
                      required
                    />
                  </div>
                  <div class="col-md-6">
                    <label for="times" style="color: #e6f5f1"
                      >Select Time </label
                    ><br />

                    <select name="time" class="form-select" id="">
                      {% for time in times %}
                      <option value="{{time.time}}">{{time.time}}</option>
                      {%endfor%}
                    </select>
                  </div>
                  <div
                    style="
                      display: flex;
                      flex-direction: row;
                      justify-content: center;
                      align-items: center;
                    "
                  >
                    <label for="spec" style="color: #e6f5f1"
                      >Summary :
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label
                    ><br />
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Summary"
                      name="summary"
                      id="spec"
                      style="width: 81.5%"
                      required
                    />
                  </div>
                  <div
                    style="
                      display: flex;
                      flex-direction: row;
                      justify-content: center;
                      align-items: center;
                    "
                  >
                    <label for="message" style="color: #e6f5f1"
                      >Description &nbsp; :
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label
                    ><br />
                    <textarea
                      class="form-control"
                      id="message"
                      style="width: 88.5%; margin-left: 2%"
                      name="description"
                      placeholder="Message ( optional )"
                    ></textarea>
                  </div>
                  <div class="col-12 mt-5">
                    <button type="submit" class="btn btn-success float-end">
                      Book Appointment
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% if eventnotconfirm is 1 %}
  <script language="JavaScript">
    alert("Try Again in another Slot :(");
  </script>
  {% endif %}
</main>
{% endblock %}
