{% extends 'patients/base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/style_last.css' %}" />
<link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/all.min.css' %}" />
<style>
    .centered-div {
        width: 50%;
        padding: 20px;
        box-sizing: border-box;
    }

    .centered-select {
        width: 100%;
        text-align: center;
    }
</style>

<main>
    <section class="recent">
        <div class="table-div">
            <div class="table-card">
                <div class="tab-content pt-0">
                    <div id="pat_appointments" class="tab-pane fade show active">
                        <div class="card card-table mb-0">
                            <div class="card-body p-4">
                                <h2 class="text-center fw-bold mb-5" style="color: rgb(3, 11, 72)">
                                    Request an appointment
                                </h2>
                                <form>
                                    <div class="mb-3">
                                      <label for="selectOption" class="form-label">Select Option</label>
                                      <select class="form-select" id="selectOption" name="selectOption" required>
                                        <option selected>Open this select menu</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                      </select>
                                    </div>
                                    <div class="mb-3">
                                      <label for="dateInput" class="form-label">Date</label>
                                      <input type="date" class="form-control" id="dateInput" name="dateInput" required>
                                    </div>
                                    <div class="mb-3">
                                      <label for="timeInput" class="form-label">Time</label>
                                      <input type="time" class="form-control" id="timeInput" name="timeInput" required>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                  </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</main>
{% if eventconfirm is 1 %}
<script language="JavaScript">
    alert("You booked Appointment Successfully :(");
</script>
{% endif %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"
    integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

<script src="{% static 'js/jquery.min.js' %}"></script>

<!-- Bootstrap Core JS -->
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}